.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  border: 1px solid white;
  gap: 1rem;
}

.manageBalance {
  display: flex;
  flex-direction: column;
}

.balance {
  font-size: 40px;
  margin-left: 2rem;
  margin-top: 2rem;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  max-width: 250px;
  width: 100%;
}
.link{
  max-width: 100px;
  width: 100%;
  border: none;
}
.button{
  width: 100%;
  height: 2.5rem;
  transition: 0.3s;
  border: none;
  border-radius: 6px;

}
.button:hover {
  cursor: pointer;
  background-color: rgb(88, 85, 85);
}

