.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: relative;
}

.logo {
  width: 150px;
  height: 75px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navigation {
  border: none;
  background-color: black;
  font-size: 22px;
  color: white;
  transition: 0.3s;
}

.navigation:hover {
  color: rgba(245, 245, 245, 0.488);
  cursor: pointer;
}

.menuButton {
  display: none;
}

@media screen and (max-width: 768px) {

  .container {
    padding: 1rem 1.5rem;
  }

  .logo {
    width: 130px;
    height: 65px;
    margin-left: -20px;
  }

  .menuButton{
    display: block;
  }

  .menuButton:hover {
    cursor: pointer;
  }

  .navbar {
    visibility: hidden;
    flex-direction: column;
    width: 100vw;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.4s;
    opacity: 0;
    transform: translate(-50%, 0%);
    z-index: 10;
    pointer-events: none;
  }

  .open {
    visibility: visible;
    opacity: 100%;
    padding-top: 5rem;
    transform: translate(-50%, 5%);
    height: 100vh;
    background-color: black;
    pointer-events: fill;
  }
  .navigation {
    font-size: 40px;
  }
}