.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  padding: 0 3vw;
  width: 100%;
}
.bettingContainer {
  padding: 2.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #0f0e0e;
  max-width: 800px;
  width: 100%;
  gap: 1rem;
  border: 1px solid white;
}

.backArrow {
  position: absolute;
  top: 4rem;
  background-color: #0f0e0e;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.game{
  font-size: 30px;
}
.date{
  font-size: 24px;
}

.odds{
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 4rem;
}
.teamOdds{
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  width: 100%;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.3s;
}
.teamOdds:hover{
  cursor: pointer;
  background-color: rgb(84, 83, 83);
}
.selected {
  background-color: rgb(84, 83, 83);
}


.placeBetContainer{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.titleLabel{
  grid-column: 1/7;
}
.winnerLabel{
  grid-column: 1/6;
}
.oddsLabel{
  display: flex;
  justify-content: flex-end;
}
.placedBet{
  display: grid;
  grid-column: 1/7;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 0.5rem;
}
.enterAmount{
  display: flex;
  align-items: center;
  position: relative;
  grid-column: 1/4;
  grid-row: 1/2;
}
.enterAmount input{
  height: 1.5rem;
  font-size: 16px;
  padding-left: 1rem;
}
.dollarSign{
  position: absolute;
  left: 0.2rem;
}
.estimatedAmountLabel{
  display: flex;
  justify-content: flex-end;
  grid-column: 5/7;
}
.estimatedAmount{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 5/7;
  grid-row: 1/4;
  gap: 0.5rem;
}
.balance {
  display: flex;
  align-items: center;
  grid-row: 2;
  grid-column: 1/3;
}

.placeBet{
  margin-top: 1rem;
  height: 2rem;
  border: none;
  font-size: 16px;
}
.placeBet:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .bettingContainer {
    padding: 2.5rem 0.5rem;
    border: none;
  }
  .game{
    font-size: 16px;
  }

  .date{
    font-size: 16px;
  }

  .overflow{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .backArrow {
    height: 2rem;
    width: 2rem;
  }

  .odds{
    width: 80%;
    gap: 0rem;
  }

  .teamOdds{
    padding: 1rem 1rem;
    font-size: 15px;
  }
}